.Filters {
  display: flex;
}
.divImg {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.divImg img {
  width: 70%;
  margin-left: 50px;
}
.divSB {
  justify-content: center;
  display: flex;
  padding: 20px;
  padding-bottom: 12px;
}
.search-box {
  background-color: #2f3640;
  height: 40px;
  width: 300px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn {
  color: #f55139;
  float: right;
  border: none;
  height: 30px;
  border-radius: 10px;
  background-color: #2f3640;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
}
.botones {
  background: #06141c;
  align-content: normal;
  color: #f55139;

  border: none;
  height: 30px;
  border-radius: 10px;
}
.temp {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2f3640;
  background-image: none;
  color: white;
  flex: 1;
  padding: 0 0.5em;
  color: white;
  cursor: pointer;
}
.temp::-ms-expand {
  display: none;
}
.selecttemp {
  position: relative;
  display: flex;
  width: 11em;
  background: #2f3640;
  height: 2em;
  line-height: 2;
  overflow: hidden;
  border-radius: 10px;
}
.selecttemp::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  background: black;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.selecttemp:hove::after {
  color: #f55139;
}
